body {
  zoom: 1; }

@font-face {
  font-family: "Betty Noir";
  src: url(/fonts/bettynoir.ttf) format("truetype"); }

#root nav {
  background: #f8f8f8;
  width: 100%;
  margin: 0 auto;
  font-family: "Betty Noir", Verdana, Tahoma;
  font-size: 24px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center; }
  #root nav div {
    float: left;
    flex: 1; }
  #root nav a {
    text-decoration: none;
    cursor: pointer;
    color: black; }
  #root nav a:hover {
    text-decoration: none; }
  #root nav .links a {
    text-decoration: none;
    font-family: initial;
    cursor: pointer;
    color: black;
    float: left;
    padding: 5px;
    font-size: 16px; }
  #root nav .links a:hover {
    text-decoration: none;
    background: lightblue; }
  #root nav .logo {
    text-align: center; }
    #root nav .logo a {
      float: initial; }
  #root nav .logo-main {
    font-size: 36px; }

#root main {
  min-height: 100vh;
  background: white; }
  #root main h1 {
    font-size: 24px;
    text-decoration: underline; }
  #root main h3 {
    font-size: 18px; }
  #root main ul, #root main li {
    list-style: none; }
  #root main ul {
    padding: 0; }
  #root main li {
    padding: 5px 10px; }
  #root main p, #root main span {
    padding: 5px 10px; }
  #root main .wrapper {
    width: 80%;
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    background: #CCC; }
  #root main .h_iframe {
    position: relative;
    padding-top: 56%; }
  #root main .h_iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

#root .dancers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  #root .dancers-list .dancer {
    border: 1px solid #cccccc;
    flex: 0 0 24%;
    min-height: 200px;
    text-align: center;
    margin: 5px; }
    #root .dancers-list .dancer img {
      max-width: 150px; }

#logo {
  width: 100px; }

.donate {
  display: inline-block; }
  .donate p {
    display: inline-block; }

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  #root .dancers-list .dancer {
    border: 1px solid green;
    flex: 0 0 45%;
    min-height: 200px; }
    #root .dancers-list .dancer .dancer-portrait {
      max-width: 100%; }
  .donate {
    display: block;
    text-align: center; } }

#donate-form {
  display: inline-block;
  margin: 10px;
  vertical-align: middle; }
