body {
  zoom: 1;
}




#root {
  &.container {
    padding-right: 0; 
    padding-left: 0;
  }
  
  .background-color {
    background: #f8f8f8;
  }
  
  nav {
    // width: 100%;
    margin: 0 auto;
    // height: 100px;
    font-family: "Betty Noir", Verdana, Tahoma;
    font-size: 24px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    
    div {
      float:left;
      flex: 1;
    }
    
    a {
      text-decoration: none;
      cursor: pointer;
      color: black;
    }
    a:hover {
      text-decoration: none;
    }
    
    .links {
      
      a {
        text-decoration: none;
        font-family: initial;
        cursor: pointer;
        color: black;
        // margin: 0 5px;
        float: left;
        padding: 5px;
        font-size: 16px;
      }
      a:hover {
        text-decoration: none;
        background: lightblue;
      }
    }
    
    .logo {
      text-align: center;
      
      a {
        float: initial;
      }
    }
    
    .logo-main {
      font-size: 36px;
    }
    
  }
  
  main {
    min-height: 100vh;
    background: white;
    
    h1 {
      font-size: 24px;
      text-decoration: underline;
    }
    
    h3 {
      font-size: 18px;
    }
    
    ul, li {
      list-style: none;
    }
    
    ul {
      padding: 0;
    }
    
    li {
      padding: 5px 10px;
    }
    p, span {
      padding: 5px 10px;
    }
    
    .wrapper         {width:80%; max-width: 600px; height:100%; margin:0 auto; background:#CCC}
    .h_iframe        {position:relative; padding-top: 56%;}
    .h_iframe iframe {position:absolute;top:0;left:0;width:100%; height:100%;}
    
    #performances {
      li {
        border: 1px solid #cccccc;
      }
    }
    
    #contact {
      text-align:center;
      
      h1, p {
        text-align: left;
      }
    }
  }
  .dancers-list {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .dancer {
      border: 1px solid #cccccc;
      flex: 0 0 24%;
      min-height: 20px;
      text-align: center;
      margin: 5px;
      
      img {
        max-width: 150px;
      }
    }
  }
}

#logo {
  width: 100px;
}

.donate {
 display:inline-block;
 
 p { display:inline-block;}
}

/* Small Devices, Tablets */
 @media only screen and (max-width : 767px) {   
   #root {
     
     &.container {
       padding-right: 15px; 
       padding-left: 15px;
     }
     
     .dancers-list {
       
       .dancer {
         border: 1px solid #cccccc;
         flex: 0 0 45%;
         min-height: 20px;
         
         .dancer-portrait {
           max-width: 100%;
         }
       }
     }
   }
   
   .donate {
     display:block;
     text-align: center;
   }
 }
 

 
 #donate-form {
  display: inline-block;
  margin: 10px;
  vertical-align: middle;
 }